
@{
    ViewBag.Title = "RegisterPage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-md-5">
        Tc Kimlik Numarası
        <input type="text" class="form-control" />
    </div>
    <div class=" col-md-4">
        Ad
        <input type="text" class="form-control" />
    </div>
    <div class=" col-md-4">
        Soyad
        <input type="text" class="form-control" />
    </div>
    <div class=" col-md-3">
        Telefon
        <input type="tel" class="form-control" />
    </div>
    <div class=" col-md-4">
        E-Mail
        <input type="email" class="form-control" />
    </div>
</div>

